body {
  font-family: 'Manrope', sans-serif;
}

/* Navbar */
.navbar {
  padding: 20px 142px !important;
}

.navbar-collapse {
  justify-content: flex-end;
  font-weight: 500;
}

.nav-link {
  padding-right: 0px !important;
  padding-left: 4rem !important;
}

/* Hero */

.hero-container {
  background: url('./asset/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero-content {
  display: flex;
  padding: 120px 142px;
}

.hero-title {
  width: 70%;
}

.hero-title h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 98px;
  color: #18191f;
}
.hero-button {
  margin-top: 30px;
  background-color: #5994ec;
  padding: 18px 40px;
  color: #fff;
  width: 190px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}

.hero-images {
  width: 60%;
}

.hero-images img {
  width: 100%;
  position: relative;
  right: -40px;
}

/* Section about */
.section-about {
  display: flex;
  padding: 100px 142px;
}

.section-about-images {
  width: 50%;
}

.section-about-images img {
  width: 80%;
}

.section-about-description {
  width: 50%;
  padding: 50px 0;
}

.section-about-description-title {
  font-size: 40px;
  font-weight: 800;
}

.section-about-description-content {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  padding: 15px 0;
  text-align: justify;
}

.section-about-description-button {
  color: #5994ec;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
/* our services */
.section-ourservices {
  padding: 50px 142px;
}

.section-ourservices-title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.section-ourservices-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}

.section-ourservices-content-list {
  width: 27.5%;
}
.section-ourservices-content-list-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 20px 0px;
}

.section-ourservices-content-list-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

.section-ourservices-button {
  padding: 30px 0;
  color: #5994ec;
}

.section-ourservices-content-list img {
  height: 80px;
  width: 80px;
}

/* sectiom our work */
.section-ourwork {
  padding: 60px 142px;
}

.section-ourwork-title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.section-ourwork-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.section-ourwork-content-list {
  width: 37.5vw;
}

.section-ourwork-content-list-image {
  width: 550px;
}

.section-ourwork-content-list-image img {
  width: 100%;
}

.section-ourwork-content-list-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0;
}

.section-ourwork-content-list-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

/* Section Development */
.section-dev {
  padding: 60px 142px;
}

.section-dev-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-dev-title-main {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  padding-bottom: 10px;
}

.section-dev-title-sub {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.section-dev-content {
  display: flex;
}

.section-dev-content-list {
  width: 25%;
  padding: 50px 0;
}

.section-dev-content-list img {
  width: 100%;
}

.section-dev-content-list-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
